h1{
    text-align: center;
}
.nav ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.nav a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.nav a:hover{
    background-color: black;
}
.nav li{
    float: left;
}